body {
	background-color: #fff;
}

a {
	color: #007bff;
}

.electronics-cart{
	font-family: 'Montserrat', sans-serif;
	background-color: white;
	margin-top: 1rem;
}

.electronics-cart .nav-scroller {
	background-color: #007bff;
	padding: 1rem;
}

.electronics-cart .nav-scroller a {
	color: white;
}

.electronics-cart .nav-scroller a.active {
	text-decoration: underline;
	color: rgb(255, 255, 0);
}

.electronics-cart .content{
	background-color: white;
	clear: both;
}

.electronics-cart h1{
	margin-bottom:1.2rem;
}

.electronics-cart .items{
	margin: auto;
}

.electronics-cart .items .product{
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.electronics-cart .items .product img{
	width: 120px;
}

.electronics-cart .order{
	border-top: 2px solid #007bff;
    background-color: #676767;
    height: 100%;
    padding: 30px;
	color: white;
}

.electronics-cart .order h3{
	font-size: 1.3em;
}

.electronics-cart .order .order-item{
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid gray;
}

.electronics-cart .order .price{
	float: right;
}

.electronics-cart .order button{
	margin-top: 20px;
}
