<!DOCTYPE html>
<html lang="en">

  <%- include('../common/head', {title: "Homepage"}); %>

  <body>

      <main class="page">
        <section class="electronics-cart">
          <div class="container">

            <%- include('../common/top', {active, loggedIn}); %>

              <div class="content c-both">
                <form method="post" action="order">
                  
                  <div class="row">
                    <div class="col-md-12 col-lg-8">
                      <% if(typeof message != 'undefined') { %>
                        <div class="row mt-2">
                          <div class="col-md-12">
                            <div class="alert alert-info" role="alert">
                              <%=message%>
                            </div>
                          </div>
                        </div>
                      <% } %>
                      <% if(errors && errors.length > 0) { %>
                        <div class="alert alert-danger" role="alert">
                          <h4>Errors:</h4>
                          <ul>
                            <% errors.forEach(error => {%>
                            <li><%=error.msg%></li>
                            <% }); %>
                          </ul>
                        </div>
                        <% } %>  
                      <div class="items">
                        <% Products.forEach(product => { %>
                          <div class="product">
                            <div class="row">
                              <div class="col-md-4"> 
                                <img class="img-fluid mx-auto d-block image" src="<%=product.image%>">
                              </div>
                              <div class="col-md-8">
                                <div class="row">
                                  <div class="col-md-4">
                                    <div class="product-name">
                                        <h5><%=product.name%></h5>
                                    </div>
                                  </div>
                                  <div class="col-md-6 quantity">
                                    <label for="quantity">Quantity:</label>
                                    <input name="<%=product.slug%>" 
                                    value="<%=order[product.slug] > 0 ? order[product.slug] : 0 %>"
                                    type="text" placeholder="0" class="form-control quantity-input">
                                  </div>
                                  <div class="col-md-6 price">
                                    <span>$<%=product.price%></span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        <% }); %>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                      <div class="order">
                        <h3>Create Order</h3>
                        <div class="form-group">
                        <label class="control-label" for="textinput"
                          >Name</label
                        >
                        <input
                          type="text"
                          placeholder="Full Name"
                          name="customerName"
                          class="form-control"
                          value="<%=order.customerName%>"
                        />
                        </div>

                        <div class="form-group">
                        <label class="control-label" for="textinput"
                          >Membership Number</label
                        >
                        <input
                          type="text"
                          placeholder="A12-BC3-456"
                          name="membershipNumber"
                          class="form-control"
                          value="<%=order.membershipNumber%>"
                        />
                        <button type="submit" class="mt-4 btn btn-primary btn-lg btn-block"><i class="far fa-credit-card"></i> Checkout</button>
                      </div>
                    </div>
                </div> 
            </form>
            </div>
          </div>
       </section>
     </main>

    <%- include('../common/footer'); %>
  </body>
</html>

<!-- 
  Credits:
	doorbell: https://www.flaticon.com/free-icon/doorbell_445715
	outdoor camera: https://www.flaticon.com/free-icon/cctv-camera_4842938?term=outdoor%20camera&page=1&position=3&page=1&position=3&related_id=4842938&origin=search
	baby monitor: https://www.flaticon.com/premium-icon/baby-monitor_2482939?term=baby%20monitor&page=1&position=1&page=1&position=1&related_id=2482939&origin=search
 -->