<!DOCTYPE html>
<html lang="en">

  <%- include('../common/head', {title: "Login"}); %>

  <body>

      <main class="page">
        <section class="electronics-cart">
          <div class="container">

            <%- include('../common/top', {active, loggedIn}); %>

            <% if(typeof message != 'undefined') { %>
              <div class="row mt-2">
                <div class="col-md-12">
                  <div class="alert alert-info" role="alert">
                    <%=message%>
                  </div>
                </div>
              </div>
            <% } %>
            <% if(errors && errors.length > 0) { %>
              <div class="alert alert-danger" role="alert">
                <h4>Errors:</h4>
                <ul>
                  <% errors.forEach(error => {%>
                  <li><%=error.msg%></li>
                  <% }); %>
                </ul>
              </div>
              <% } %>  
              <div class="content c-both m-auto" style="width: 300px;">
              
                <form class="form-signin" action="/login" method="POST">
                  <div class="text-center mb-4">
                    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
                  </div>
            
                  <div class="form-label-group">
                    <input name="username" type="input" id="username" class="form-control" placeholder="Username" autofocus>
                    <label for="username"></label>
                  </div>
            
                  <div class="form-label-group">
                    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password">
                    <label for="inputPassword"></label>
                  </div>
  
                  <button class="btn btn-lg btn-block btn-primary" type="submit"><i class="fas fa-user-shield"></i> Login</button>
                </form>
            </div>
          </div>
       </section>
     </main>

    <%- include('../common/footer'); %>
  </body>
</html>
