<!DOCTYPE html>
<html lang="en">

  <%- include('../common/head', {title: "My Orders"}); %>

  <body>

      <main class="page">
        <section class="electronics-cart">
          <div class="container">

            <%- include('../common/top', {active, loggedIn}); %>

              <div class="content c-both m-auto">
                <% if(typeof message != 'undefined') { %>
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <div class="alert alert-info" role="alert">
                        <%=message%>
                      </div>
                    </div>
                  </div>
                <% } %>
                <% if(errors && errors.length > 0) { %>
                  <div class="alert alert-danger" role="alert">
                    <h4>Errors:</h4>
                    <ul>
                      <% errors.forEach(error => {%>
                      <li><%=error.msg%></li>
                      <% }); %>
                    </ul>
                  </div>
                <% } %>
                <form method="post" action="my-orders" class="m-auto" style="width: 300px;">
                    <div class="form-group">
                        <label class="control-label" for="textinput"
                          >Enter Your Membership Number</label
                        >
                        <input
                          type="text"
                          placeholder="A12-BC3-456"
                          name="membershipNumber"
                          class="form-control"
                          value="<%=membershipNumber%>"
                        />
                        <button type="submit" class="mt-4 btn btn-primary btn-lg btn-block"><i class="fas fa-user-cog"></i> Fetch Orders List</button>
                    </div>
                </form>  
               

                <% if(orders.length > 0){ %>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <!-- <th>#</th> -->
                                <th>Customer Name</th>
                                <th>Membership Number</th>
                                <th>Doorbells</th>
                                <th>Cameras</th>
                                <th>Monitors</th>
                                <th>Sub Total</th>
                                <th>Tax</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% orders.forEach(order => { %>
                                <%
                                    let subTotal = 0;
                                    Products.forEach(product => {
                                        subTotal += order[product.slug] * product.price;
                                    });
                                    let tax = subTotal * .13;
                                    let grandTotal = tax + subTotal;
                                %>
                                <tr>
                                    <!-- <td class="text-center">< %=order._id%></td> -->
                                    <td><%=order.customerName%></td>
                                    <td><%=order.membershipNumber%></td>
                                    <td><%=order.doorbells%></td>
                                    <td><%=order.cameras%></td>
                                    <td><%=order.monitors%></td>
                                    <td>$<%=subTotal.toFixed(2)%></td>
                                    <td>$<%=tax.toFixed(2)%></td>
                                    <td>$<%=grandTotal.toFixed(2)%></td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                <% } %>    
                
            </div>
          </div>
       </section>
     </main>

    <%- include('../common/footer'); %>
  </body>
</html>
