<!DOCTYPE html>
<html lang="en">

  <%- include('../common/head', {title: "Receipt"}); %>

  <body>

      <main class="page">
        <section class="electronics-cart">
          <div class="container">

            <%- include('../common/top', {active, loggedIn}); %>

              <div class="content c-both m-auto">
                <% if(typeof message != 'undefined') { %>
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <div class="alert alert-info" role="alert">
                        <%=message%>
                      </div>
                    </div>
                  </div>
                <% } %>
                <% if(errors && errors.length > 0) { %>
                  <div class="alert alert-danger" role="alert">
                    <h4>Errors:</h4>
                    <ul>
                      <% errors.forEach(error => {%>
                      <li><%=error.msg%></li>
                      <% }); %>
                    </ul>
                  </div>
                <% } %>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <!-- <th>#</th> -->
                            <th>Customer Name</th>
                            <th>Membership Number</th>
                            <th>Doorbells</th>
                            <th>Cameras</th>
                            <th>Monitors</th>
                            <th>Sub Total</th>
                            <th>Tax</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                      
                        <%
                          let subTotal = 0;
                          Products.forEach(product => {
                              subTotal += order[product.slug] * product.price;
                          });
                          let tax = subTotal * .13;
                          let grandTotal = tax + subTotal;
                        %>
                        <tr>
                          <!-- <td class="text-center">< %=order._id%></td> -->
                          <td><%=order.customerName%></td>
                          <td><%=order.membershipNumber%></td>
                          <td><%=order.doorbells%></td>
                          <td><%=order.cameras%></td>
                          <td><%=order.monitors%></td>
                          <td>$<%=subTotal.toFixed(2)%></td>
                          <td>$<%=tax.toFixed(2)%></td>
                          <td>$<%=grandTotal.toFixed(2)%></td>
                        </tr>
                     
                    </tbody>
                </table>
            </div>
          </div>
       </section>
     </main>

    <%- include('../common/footer'); %>
  </body>
</html>
