<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md text-center">
    <small class="d-block mb-3 text-muted">&copy; Copyright - Rameez Joya</small>
    </div>
  </div>
  </footer>