<header class="blog-header py-3">
  <div class="row flex-nowrap justify-content-between align-items-center">
    <div class="col-12">
    <a class="blog-header-logo text-dark" href="/">
      <h1 class="align-middle"><i class="fas fa-camera-retro"></i> Electronics Shop</h1>
    </a>
    <p>Best quality of ELectronic Products at affordable pricing.</p>
    </div>
  </div>
  </header>
<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-block w-100">   
    <a class="p-2 <%= active == 'home' ? 'active' : '' %>" href="/"><i class="fas fa-cart-plus"></i> Create Order</a>
    <% if(loggedIn) { %>
      <a class="p-2 <%= active == 'orders' ? 'active' : '' %>" href="/orders"><i class="far fa-list-alt"></i> All Orders</a>
      <a class="float-right" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout </a>
    <% } else { %>
      <a class="p-2 <%= active == 'my-orders' ? 'active' : '' %>" href="/my-orders"><i class="far fa-list-alt"></i> My Orders</a>
      <a class="float-right <%= active == 'login' ? 'active' : '' %>" href="/login"><i class="fas fa-user-shield"></i> Login </a>
     <% } %>
  </nav>
</div>